# Compiled output
target/
debug/
build/

# Cargo
Cargo.lock

# Rustfmt backups
**/*.rs.bk

# MSVC Windows debugging info
*.pdb

# Mutation testing
**/mutants.out*/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
proptest-regressions/

# Ad-hoc binaries
ch_01_arrays_and_strings/1_6_string_compression/tests
